@import url("./font/fontello.css");


body {
  background-image: url(pic/background2.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  max-width: 1400px;
  font-family: Arial, Helvetica, sans-serif;
}

.main-nav {
  float: right;
  list-style: none;
  margin-top: 30px;
}

.main-nav li {
  display: inline-block;
}

.main-nav li a {
  color: rgb(62, 17, 68);
  text-decoration: none;
  padding: 5px 20px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: bold;
}

.main-nav li.home a {
  border: solid 1px white;
  border-radius: 5px;
}

.main-nav li:hover a {
  border: solid 1px white;
  border-radius: 5px;
  background-color: rgb(62, 17, 68);
  transform: scale(1.1);
  color: white;
}

.logo img {
  width: 75px;
  height: auto;
  float: left;
  border-radius: 50%;
  background-color: rgb(242, 238, 247);
  margin-top: 10px;
  margin-left: 5px;
}

.logo img:hover {
  transform: scale(1.2);
  box-shadow: 5px 5px 10px rgb(19, 66, 66);
}

hr {
  margin-top: 30px;
  width: 100%;
  display: flex;
}

.info {
  width: 30%;
  height: auto;
  background: rgb(56, 138, 138);
  border-top-left-radius: 10px;
}

h1 {
  text-transform: uppercase;
  font-size: 20px;
  padding-left: 40px;
  padding-top: 15px;
}

img {
  width: 150px;
  border: solid 2px black;
  border-radius: 50%;
  box-shadow: 5px 10px rgb(19, 66, 66);
  margin-left: 20px;
}

h2 {
  font-size: 20px;
  margin-top: 20px;
  padding-left: 20px;
  font-family: "Times New Roman", Times, serif;
}

.contact-info {
  display: flex;
  flex-basis: auto;
}

.list-titles {
  text-align: left;
  font-weight: 600;
  color: boldColor;
  margin-right: 30px;
}

.list-content {
  width: 100%;
  font-weight: 300;
  list-style: none;
  left: 30px;
}

#footer {
  border-top: 1px solid rgb(19, 66, 66);
  background-color: rgb(56, 138, 138);
  border-radius: 10px;
  border-top-left-radius: 0%;
  border-top-right-radius: 0%;
}

.footer-logo {
  width: 40px;
  bottom: -19px;
  left: 0px;
  position: relative;
}

table {
  border: 1px solid rgb(59, 7, 119);
  font-size: 12px;
  width: 360px;
  border-radius: 5px;
  margin-left: 20px;

}

td {
  border-bottom: solid 1px #888;
  margin: 0 auto;
}

th {
  background-color: rgba(44, 44, 42, .5);
  color: white;
  padding: 5px;
}


/* ///////////////// */
p.social {
  position: relative;
  text-align: center;
  padding-bottom: 10px;
}

p.social a::before {
  content: "\f0e0";
  position: absolute;
  font-family: "fontello";
  font-size: 18px;
  color: #2e303b;
  border: 1px solid;
  border-radius: 93px;
  padding: 5px 10px;
  right: 50px;
  top: -20px;
}

p.social a:hover::before {
  color: #000;
  border: 1px solid;
  background-color: #666d89;
  transform: scale(1.2);
}

p.social a:nth-child(2)::before {
  content: "\f30d";
  right: 100px;
}

p.social a:nth-child(3)::before {
  content: "\f319";
  right: 150px;
}

p.social a:nth-child(4)::before {
  content: "\f30a";
  right: 200px;
}

p.social a:nth-child(5)::before {
  content: "\f166";
  right: 250px;
}

main {
  display: flex;
}

h3 {
  text-align: center;
  text-transform: uppercase;
}

.textInfo {
  width: 70%;
  background-color: rgba(0, 0, 0, 0.5);
  border-top-right-radius: 10px;
}

p.text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  padding: 0px 40px;
  color: white;
  border-radius: 5px;
}

.fourPhoto {
  display: flex;
  flex-wrap: wrap;
  padding: 25px;
}

.fourPhoto a img {
  display: block;
  height: auto;
  width: 100%;
  width: 172px;
  border: solid 2px black;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgb(24, 21, 27);
  margin: 5px;
}

.fourPhoto a img:hover {
  color: #000;
  border: 1px solid;
  background-color: #666d89;
  transform: scale(1.1);
}